# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\课程self\高级生物医学图像处理\Image_Processing_GUI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
